$default-gap: 20px;

$primary-font-family: "Poppins", sans-serif;

$primary-font-size: 50px;
$secondary-font-size: 25px;
$tertiary-font-size: 15px;

$primary-font-weight: 400;
$secondary-font-weight: 500;
$tertiary-font-weight: 600;

%flex-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 35%;
  margin: 0 auto;
  text-align: center;
  font-family: $primary-font-family;
  background-color: #e7f6f2;
}

.audioplayer-container {
  margin: $default-gap + 10px;
  padding: $default-gap + 10px;
  background-color: #2c3333;
  color: #fff;
  border: 1px black solid;
  border-radius: 35px;
  box-shadow: 2px 2px 20px #64746f;

  .elements-container {
    .song-image {
      height: 350px;
      width: 350px;
    }
    .song-status {
      font-size: $secondary-font-size;
      font-weight: $primary-font-weight;
      color: #e7f6f2;
    }
    .song-name {
      font-size: $primary-font-size;
      font-weight: $tertiary-font-weight;
      color: #e7f6f2;
    }
    .song-artist {
      font-size: $secondary-font-size;
      font-weight: $secondary-font-weight;
      color: #a5c9ca;
    }
  }
  .controllers-container {
    margin: $default-gap;

    .sliders-and-time {
      @extend %flex-elements;
      gap: $default-gap;
      font-size: $tertiary-font-size;
      font-weight: $primary-font-weight;

      .audio-slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        background-color: #e7f6f2;
        border-radius: 10px;
      }

      .audio-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #3b5e68;
      }
    }
    .volume-controller-sliders {
      @extend %flex-elements;
      margin: $default-gap;
      gap: $default-gap;

      .volume-slider {
        -webkit-appearance: none;
        appearance: none;
        width: 35%;
        height: 10px;
        background-color: #e7f6f2;
        border-radius: 10px;
      }

      .volume-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #3b5e68;
      }
    }
    .controller-buttons {
      @extend %flex-elements;
      margin: $default-gap;
      gap: 50px;

      .flex-center {
        @extend %flex-elements;
      }

      .play-pause-button {
        height: 100px;
        width: 100px;
        background-color: #a5c9ca;
      }

      div {
        border-radius: 50%;
        height: 75px;
        width: 75px;
        background-color: #395b64;
      }
    }
  }
}
